.page.theme_dark {
  --background-image: url("../images/cover-image-dark.png");
  --background-color: var(--color-black-1, #000028);
  --font-color: var(--color-purple-2, #ff0070);
  --border-style: 1px solid #ff0070;
  --border-style-hover: 1px solid rgba(255, 0, 112, 0.4);
  --title-decor: var(--color-purple-2, #ff0070);
  --stylish-text-color: var(--color-purple-1, #db00ff);
  --answer-title-color: var(--color-black-1, #000028);
  --answer-decription-color: var(--color-pink-2, #f1b2ce);
  --action-border: var(--color-purple-2, #ff0070);
  --link-shadow: rgba(255, 0, 111, 0.8);
  --dispaly-rec: block;
  --padding: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url("../images/cover-image-dark.png");
    --background-color: var(--color-black-1, #000028);
    --font-color: var(--color-purple-2, #ff0070);
    --border-style: 1px solid #ff0070;
    --border-style-hover: 1px solid rgba(255, 0, 112, 0.4);
    --title-decor: var(--color-purple-2, #ff0070);
    --stylish-text-color: var(--color-purple-1, #db00ff);
    --answer-title-color: var(--color-black-1, #000028);
    --answer-decription-color: var(--color-pink-2, #f1b2ce);
    --action-border: var(--color-purple-2, #ff0070);
    --link-shadow: rgba(255, 0, 111, 0.8);
    --dispaly-rec: block;
    --padding: 20px;
  }
}
