
.page.theme_light {
  --background-image:url("../images/cover-image-light.png");
  --background-color:var(--color-pink-1, #fff1f7);
  --font-color:var(--color-black-2,#353430);
  --border-style: 1px solid #353430;
  --border-style-hover:1px solid rgba(50,49,45,0.4);
  --title-decor:var(--color-pink-4,#ff8dcb);
  --stylish-text-color:var(--color-pink-3, #ffc2e6);
  --answer-title-color:var(--color-black-2,#353430);
  --answer-decription-color:var(--color-black-2,#353430);
  --action-border:var(--color-black-2,#353430);
  --link-shadow:rgba(255,141,203,1);
  --display-rec:none;
  --padding:20px;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image:url("../images/cover-image-light.png");
    --background-color:var(--color-pink-1, #fff1f7);
    --font-color:var(--color-black-2,#353430);
    --border-style: 1px solid #353430;
    --border-style-hover:1px solid rgba(50,49,45,0.4);
    --title-decor:var(--color-pink-4,#ff8dcb);
    --stylish-text-color:var(--color-pink-3, #ffc2e6);
    --answer-title-color:var(--color-black-2,#353430);
    --answer-decription-color:var(--color-black-2,#353430);
    --action-border:var(--color-black-2,#353430);
    --link-shadow:rgba(255,141,203,1);
    --display-rec:none;
    --padding:20px;
  }
}
